@page "/Sistemas/Edit/{SistemaId:int}"
@inject SistemasServices sistemasServices
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Editar Sistema</PageTitle>

<EditForm Model="Sistema" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />

    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header text-center bg-primary text-white">
                <h5 class="card-title">Editar Sistema</h5>
            </div>

            <div class="card-body">
                @* SistemaId *@
                <div class="mb-3">
                    <label class="form-label">
                        <strong>Sistema Id</strong>
                    </label>
                    <InputNumber class="form-control" @bind-Value="Sistema.SistemaId" readonly />
                </div>

                @* Descripcion *@
                <div class="mb-3">
                    <label class="form-label">
                        <strong>Descripción</strong>
                    </label>
                    <InputText class="form-control" @bind-Value="Sistema.Descripcion" />
                    <ValidationMessage For="() => Sistema.Descripcion" />
                </div>

                @* Complejidad *@
                <div class="mb-3">
                    <label class="form-label">
                        <strong>Complejidad</strong>
                    </label>
                    <InputNumber class="form-control" @bind-Value="Sistema.Complejidad" />
                    <ValidationMessage For="() => Sistema.Complejidad" />
                </div>

                @* Botones *@
                <div class="card-footer text-center mt-2">
                    <div class="btn-group" role="group">
                        <a href="/Sistemas/Delete/@SistemaId" class="btn btn-outline-primary bi bi-trash"> Eliminar</a>
                        <button type="submit" class="btn btn-outline-success bi bi-floppy"> Guardar</button>
                        <a href="/Sistemas/Index" class="btn btn-outline-secondary">
                            <span class="bi bi-arrow-left"></span> Volver
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public int SistemaId { get; set; }

    public Sistemas Sistema { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Sistema = await sistemasServices.Buscar(SistemaId);
    }

    private async Task Guardar()
    {
        await sistemasServices.Guardar(Sistema);
        navigationManager.NavigateTo("/Sistemas/Index");
    }
}