@page "/Tecnico/Index"
@inject TecnicosServices tecnicosServices
@inject NavigationManager navigationManager
@rendermode InteractiveServer


@*HTML*@
<PageTitle>Lista de tecnicos</PageTitle>
<div class="container">
	<div class="card shadow-lg">
		<div class="card-header space-between">
			<h5 class="card-title text-center">Registro de Tecnicos</h5>
			<a href="/Tecnico/Create" class="btn btn-primary"> <span class=" bi bit-plus-square bi trask mt-3"></span> Crear </a>
		</div>

		<div class="card-body">
			@*Labels*@
			<div class="row">
				@*Filtrar por*@
				<div class="col-3">
					<label class="col-form-label"><strong>Filtrar por</strong></label>
				</div>

				@*ValorFiltro*@
				<div class="col-4">
					<label class="col-form-label"><strong>Busqueda</strong></label>
				</div>
			</div>

			@*Inputs y botones*@
			<div class="row aling-items-center">

				@*filtro*@
				<div class="col-3">
					<InputSelect class="form-select" @bind-Value="Filtro">
						<option value="">Seleccione</option>
						<option value="TecnicoId">TecnicoId</option>
						<option value="Nombres">Nombres</option>
						<option value="SueldoHora">SueldoHora</option>
					</InputSelect>
				</div>

				@*Busqueda*@
				<div class="col-4">
					<div class="input-group">
						<input class="form-control" @bind="ValorFiltro" placeholder="Buscar"/>
						<button type="button" class="btn btn-outline-primary bi bi-search" @onclick="Buscar"> Search</button>
					</div>
				</div>
			</div>

			<table class="table table-striped table-hover">
				<thead class="table text-black">
					<tr>
						<th>TecnicoId</th>
						<th>Nombres</th>
						<th>SueldoHora</th>
						<th colspan="2" class="text-center">Acciones</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var tecnico in tecnicos)
					{
						<tr>
							@*detalle*@
							<td> @tecnico.TecnicoId</td>
							<td> @tecnico.Nombres</td>
							<td> @tecnico.SueldoHora</td>

							@*TBN Editar*@
							<td class="text-center">
								<a href="/Tecnico/Edit/@tecnico.TecnicoId" class="btn btn-outline-primary bi bi-pencil-square"></a>
							</td>

							@*TBN Eliminar*@
							<td class="text-center">
								<button class="btn btn-outline-danger bi bi-trash" @onclick="() => Eliminar(tecnico.TecnicoId)"></button>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>


@code 
{

	private List<Tecnicos> tecnicos { get; set; } = new List<Tecnicos>();
	private string ValorFiltro { get; set; } = string.Empty;
	private string Filtro { get; set; } = string.Empty;

	protected override async Task OnInitializedAsync()
	{
		tecnicos = await tecnicosServices.Listar((t) => t != null);
	}

	private async Task Buscar()
	{
		if (Filtro == "TecnicoId")
		{
			tecnicos = await tecnicosServices.Listar(t => t.TecnicoId.ToString().Contains(ValorFiltro));
		}
		else if (Filtro == "Nombres")
		{
			tecnicos = await tecnicosServices.Listar(t => t.Nombres.Contains(ValorFiltro));
		}
		else if (Filtro == "SueldoHora")
		{
			tecnicos = await tecnicosServices.Listar(t => t.SueldoHora.ToString().Contains(ValorFiltro));
		}
	}

	private async Task Eliminar(int id)
	{
		await tecnicosServices.Eliminar(id);
		tecnicos = await tecnicosServices.Listar(t => t != null);
	}
}